<footer class='foot_info_met_16_3 met-foot p-y-20 border-top1' m-id='60' m-type='foot'>
    <div class="container text-xs-center">
        <div class="footnav">
            <a href="/" title="网站首页">网站首页</a>
            <a href="/html/advantage/" title="我们的优势" target='_self'>我们的优势</a>
            <a href="/html/new/" title="新闻资讯" target='_self'>新闻资讯</a>
            <a href="/html/goldmedal/" title="金牌教师" target='_self'>金牌教师</a>
        </div>
        <div class="footinfo">
            <span>我的网站 版权所有 2008-2018 蜀ICP备8888888</span>
            <span class="powered_by_metinfo">Powered by <b><a href=# target=_blank>MetInfo 6.0.0</a></b> &copy;2008-2018 &nbsp;<a
                    href=# target=_blank>znzjy Inc.</a></span>
        </div>
        <ul class="met-langlist p-0 m-y-0">
        </ul>
    </div>
</footer>
<input type="hidden" name="met_lazyloadbg" value="666">
<script src="{WEB_PATH}statics/public/ui/v2/static/js/basic.js"></script>
