{template "content","header"}

<div class="banner_met_11_3 page-bg" style='' m-id='34' m-type="banner">

    {pc:content  action="position" posid="18" order="listorder DESC" num="3"}
    {loop $data $key $val}
    <div class="slick-slide">
        <img class="cover-image" src="{$val['bannerimg']}"
             srcset='{$val["thumb"]} 767w,{$val["thumb"]}'
             sizes="(max-width: 767px) 767px" alt="{$val['title']}" data-height='0|0|0' data-fade="false"
             data-autoplayspeed=4000 data-speed="1000">
        <div class="banner-text p-4">
            <div class='container'>
                <div class='banner-text-con'>
                    <div>
                        <span class="line animation-slide-bottom"></span>
                        <h3 class="animation-slide-bottom font-weight-500" style="color:#ffffff">{$val['title']}</h3>
                        <p class="animation-slide-bottom" style='color:#ffffff'>{$val['description']}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/loop}
    {/pc}
</div>


<section class="service_list_met_11_1 text-xs-center" m-id="7">
    <div class="container">
        <div class="head">
            <h2 class="m-t-0 font-weight-300 title">1对1专门提升孩子学习成绩</h2>
            <p class="subtitle m-b-10 ">个性化辅导与合理的课程相结合，让学习事半功倍</p>
        </div>
        <ul class="service-list m-t-30" data-resize="4|4|2|1">
            <li class="item">
                <img src="{WEB_PATH}statics/img/1532311628.png" alt="改掉贪玩坏毛病">
                <h4>改掉贪玩坏毛病</h4>
                <p>养成学习好习惯<br>自主学习爱上学习</p>
            </li>
            <li class="item">
                <img src="{WEB_PATH}statics/img/1532311605.png" alt="拒绝成绩偏科">
                <h4>拒绝成绩偏科</h4>
                <p>查缺补漏不偏科<br>好成绩报考好学校</p>
            </li>
            <li class="item">
                <img src="{WEB_PATH}statics/img/1532311503.png" alt="辅导不花冤枉钱">
                <h4>辅导不花冤枉钱</h4>
                <p>老师1对1辅导<br>拒绝大班课无限补习</p>
            </li>
            <li class="item">
                <img src="{WEB_PATH}statics/img/1532311721.png" alt="高效成绩">
                <h4>高效成绩</h4>
                <p>精英陪伴式学习 <br>学习成绩高效提升</p>
            </li>
        </ul>
    </div>
</section>

<section class="product_list_met_11_4  text-xs-center ulstyle" m-id="10">
    <div class="container">
        <div class="title-box">
            <div class="head">
                <h2 class="title">全年级全科目辅导基础难点全掌握</h2>
                <p class="desc">合理制定学习计划，注重综合学习能力的培养</p>
            </div>
        </div>
        <div class='nav-tabs-horizontal' data-plugin="nav-tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            {pc:content action="category" catid="12" num="20" order="listorder ASC"}
            {loop $data $key $val}
                <li class="nav-item">
                    <a href="#tab-{$val['catid']}" title="{$val['catname']}" data-toggle="tab" class="nav-link    <?php if($val['catid']==10){  ?> active <?php } ?>">
                        <h3>{$val['catname']}</h3>
                    </a>
                </li>
            {/loop}
            {/pc}
            </ul>
            <div class="tab-content clearfix">
                {pc:content action="category" catid="12" num="20" order="listorder ASC"}
                {loop $data $key $val}
                <div class="tab-pane animation-fade product-pane     <?php if($val['catid']==10){  ?> active <?php } ?>" id="tab-{$val['catid']}">
                    <li class="tab-banner"
                        style="background-image:url({$val['image']})">
                        <div class="title">{$val['catname']}</div>
                        <div class="desc">
                            {$val['description']}
                        </div>
                    </li>
                    <!-- 显示下级栏目 -->

                    {pc:content action="category" catid="$val['catid']" num="20" order="listorder ASC"}
                    {loop $data $keys $vals}
                    <li class='item'>
                        <div class="card">
                            <figure class="card-header">
                                <img class="img-fluid"
                                     src="{$vals['image']}"
                                     alt="{$vals['catname']}">
                            </figure>
                            <h4 class="card-title">
                                <a href="{$vals['url']}"
                                   title="{$vals['catname']}" class="block text-truncate" target='_self'>{$vals['catname']}</a>
                            </h4>
                            <p class="description">
                                {$vals['description']}<strong></strong>
                            <p class="description">
                                <a href="#"
                                   class="btn btn-primary btn-squared waves-effect waves-light">
                                    <i class="fa fa-qq"></i>
                                    联系我们 </a>
                                <a href="{$vals['url']}"
                                   title="考试技巧掌握" class="btn btn-danger btn-squared waves-effect waves-light">
                                    <i class="fa fa-plus"></i>
                                    立即了解 </a>
                            </p>
                        </div>
                    </li>
                    {/loop}
                    {/pc}
                    <!-- 显示下级栏目 -->
                </div>
                {/loop}
                {/pc}
            </div>
        </div>
</section>


<div class="product_list_met_21_1 met-index-body met-index-team     bgcolor" m-id='11'>
    <div class="container">
        <h2 class="m-t-0 text-xs-center font-weight-300 invisible" data-plugin="appear" data-animate="slide-top"
            data-repeat="false">{$CATEGORYS[14]['catname']}</h2>
        <p class="desc m-b-0 text-xs-center font-weight-300 invisible" data-plugin="appear" data-animate="fade"
           data-repeat="false">{$CATEGORYS[14]['description']}</p>
        <div class="swiper-container ">
            <ul class="team-list swiper-wrapper">
                {pc:content  action="position" posid="20" order="listorder DESC" num="3"}
                {loop $data $key $val}
                <li class="swiper-slide">
                    <div class="item-inner">
                        <div class="team-pic">
                            <a class="team-btn"
                               href="#"
                               style="background-image: url({$val['thumb']});"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-title">
                                <h3>{$val['title']}</h3>
                                <p></p>
                            </div>
                            <p></p>
                            <p>
                                {$val['description']}
                           <p></p>
                            <a href="{$val['url']}"
                               class="team-more" target="_blink">
                                MORE <i class="icon pe-angle-right-circle"></i>
                            </a>
                        </div>
                    </div>
                </li>
                {/loop}
                {/pc}
            </ul>
        </div>
    </div>
</div>

<div class="adbanner_met_16_1 met-index-body invisible" data-plugin="appear" data-animate="fade" data-repeat="false"
     m-id='14'>
    <img src="{WEB_PATH}statics/img/1532333051.png" alt="">
</div>


<section class="foot_nav_met_11_4 " m-id='57' m-type="foot_nav">
    <div class="container">
        <div class="title-box text-xs-center">
            <div class="head">
                <h2 class="title">联系我们</h2>
                <p class="desc">联系地址</p>
            </div>
        </div>
        <div class="foot-box clearfix">
            <div class="foot-input col-md-8 text-xs-left">
                <div class="met-foot-feedback clearfix">
                    <script language='javascript' src='{APP_PATH}index.php?m=formguide&c=index&a=show&formid=14&action=js&siteid=1'></script>
                </div>
            </div>
            <div class="foot-info col-md-4">
                <div class="foot-img">
                    <img data-original="img/1532516265.png" alt="">
                </div>
                <div class="foot-tel">
                    <span>服务热线：</span>
                    <a href="tel:0817-2887666">0817-2887666</a>
                    <a href="tel:15882222425">15882222425</a>
                    <a href="tel:17313850005">17313850005</a>
                    <p>四川省南充市顺庆区丰登路2号（南充九中对面）</p>
                    <p class="more-info">0817-2887666</p>
                </div>
            </div>
        </div>
        <!--友情链接-->
        <div class="links text-xs-center" m-id='57' m-type="link">
            <ul class="breadcrumb p-0 link-img m-0">
                <li class='breadcrumb-item'>友情链接：</li>
                <li class='breadcrumb-item'>
                    <a href="www.qinpl.cn" title="技术支持博客" target="_blank">
                        <span>技术支持博客</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--友情链接-->
    </div>

</section>
{template "content","footer"}