{template "content","header_t"}
    <link rel="stylesheet" type="text/css" href="{WEB_PATH}statics/templates/WM3502/cache/showproduct_cn.css?1535381811"/>
{template "content","header_f"}


<div class="banner_met_11_3 page-bg" style='' m-id='34' m-type="banner">
    {pc:content  action="position" posid="21" order="listorder DESC" num="1"}
    {loop $data $key $val}
    <div class="slick-slide">
        <img class="cover-image" src="{$val['bannerimg']}"
             srcset='{$val["thumb"]} 767w,{$val["bannerimg"]}'
             sizes="(max-width: 767px) 767px" alt="" data-height='0|0|0' data-fade="false" data-autoplayspeed=4000
             data-speed="1000">
    </div>
    {/loop}
    {/pc}
</div>


<!-- 标准模式 -->
<main class="product_list_detail_met_35_1 page met-showproduct pagetype1" m-id='24'>
    <div class="met-showproduct-head page-content block-bg">
        <div class="top_img">
            <h2 class="h2_center"></h2>
            <div class="container">
                <div class="row toprow">
                    <div class="leftcenter col-lg-5">
                        <div class="product-intro">
                            <h1 class='m-t-0 font-size-24'>{$title}</h1>

                        </div>
                        <div class="product-intro_2">
                            <p class="addtime">发布日期：{$inputtime}</p>

                            <p class='description'>{$content}</p>

                        </div>

                    </div>
                    <div class="rightcenter col-lg-7">
                        <div data-padh="120" class='met-showproduct-list fngallery cover text-xs-center    ' id='met-imgs-slick' m-id='noset' m-type="displayimgs">
                            <!--fngallery：启用lightGallery插件的类名-->
                            <div class='slick-slide'>
                                <a href='{$thumb}' data-size='527x350' data-med='{$thumb}' data-med-size='527x350' class='lg-item-box' data-src='{$thumb}' data-exthumbimage="{$thumb}" data-sub-html='{$title}'>
                                    <!--类名lg-item-box之前为initPhotoSwipeFromDOM插件所用参数；之后为lightGallery插件所用参数，lg-item-box：lightGallery插件对应的类名-->
                                    <img src="{$thumb}" class='img-fluid' alt='{$title}' />
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="met-showproduct-body page-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">

                    <div class="row">
                        <div class="panel panel-body m-b-0 product-detail" boxmh-mh >
                            
                        </div>
                    </div>
                </div>
                <!-- 内容选项卡 -->


            </div>
        </div>
    </div>
</main>
<!-- 标准模式 -->


{template "content","footer_t"}
<script src="{WEB_PATH}statics/templates/WM3502/cache/showproduct_cn.js?1535381811"></script>
{template "content","footer_f"}