{template "content","header_t"}
{template "content","header_f"}
<!-- main -->
<main class="w1200" id="main">

    <!--   banner 1  and  mobile -->
    <div class="banner-img mo-banner">
        <a href="#">
            <img src="{WEB_PATH}statics/hd/images/image-advertise1.png" alt="">
        </a>
    </div>

    <!--  banner2  -->
    <div class="banner-img">
        <a href="#">
            <img src="{WEB_PATH}statics/hd/images/image-advertise2.png" alt="">
        </a>
    </div>

    <div class="i-con">
        <div class="con1"></div>
        <div class="con2"></div>
    </div>
    <div id="content">
        {pc:content action="lists" catid="9" num="8" order="id DESC" return="info"}
        <div class="clearfix list"><!--  list start -->
            {loop $info $r}
            <div class="item">
                <a href="{$r[url]}">
                    <img src="{$r[thumb]}" class="thumb" alt="">
                    <header>
                        <h1 class="text-over">{$r[title]}</h1>
                        <?php if(!empty($r[readpoint]) && $r[readpoint]>0){?>
                        <div class="color-orange">需要积分：{$r[readpoint]}</div>
                        <?php }else{ ?>
                        <div>游客观看</div>
                        <?php } ?>
                    </header>
                </a>
            </div>
            {/loop}
        </div><!-- end list -->
        {/pc}

        <!-- banner -->
        <div class="banner-img mo-banner mb30">
            <a href="#">
                <img src="{WEB_PATH}statics/hd/images/image-advertise2.png" alt="">
            </a>
        </div>


        {pc:content action="lists" catid="12" num="8" order="id DESC" return="infos"}
        <div class="clearfix list"><!--  list start -->
            {loop $infos $r}
            <div class="item">
                <a href="{$r[url]}">
                    <img src="{$r[thumb]}" class="thumb" alt="">
                    <header>
                        <h1 class="text-over">{$r[title]}</h1>
                        <?php if(!empty($r[readpoint]) && $r[readpoint]>0){?>
                        <div class="color-orange">需要积分：{$r[readpoint]}</div>
                        <?php }else{ ?>
                        <div>游客观看</div>
                        <?php } ?>
                    </header>
                </a>
            </div>
            {/loop}
        </div><!-- end list -->
        {/pc}

        <!-- 加载更多 -->
        <div class="load-more"></div>

    </div>



</main>
{template "content","foot_t"}
{template "content","foot_f"}

