{template "content","header_t"}
{template "content","header_f"}

<!-- main -->
<main class="w1200" id="main">

    <!--   banner 1  and  mobile -->
    <div class="banner-img mo-banner">
        <a href="#">
            <img src="{WEB_PATH}statics/hd/images/image-advertise1.png" alt="">
        </a>
    </div>

    <!--  banner2  -->
    <div class="banner-img">
        <a href="#">
            <img src="{WEB_PATH}statics/hd/images/image-advertise2.png" alt="">
        </a>
    </div>

    <div class="i-con">
        <div class="con1"></div>
        <div class="con2"></div>
    </div>
    <div id="content" class="fiction">
        {pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
        <div class="clearfix list"><!--  list start -->
            <table>
                {loop $data $r}
                <tr>
                    <td>
                        <span><a href="{$r[url]}" target="_blank">{$r[title]}</a></span>
                        <em>（会员观看）</em>
                    </td>
                </tr>
                {/loop}
            </table>
        </div><!-- end list -->

        <!-- 加载更多 -->
        <div class="load-more">{$pages}</div>
        {/pc}

    </div>



</main>

{template "content","foot_t"}
<script>
    $(function(){

    })
</script>
{template "content","foot_f"}
