{template "content","header_t"}
{template "content","header_f"}

<!-- main -->
<main class="w1200" id="main">

    <!--   banner 1  and  mobile -->
    <div class="banner-img mo-banner">
        <a href="#">
            <img src="{WEB_PATH}statics/hd/images/image-advertise1.png" alt="">
        </a>
    </div>

    <!--  banner2  -->
    <div class="banner-img">
        <a href="#">
            <img src="{WEB_PATH}statics/hd/images/image-advertise2.png" alt="">
        </a>
    </div>

    <div class="i-con">
        <div class="con1"></div>
        <div class="con2"></div>
    </div>
    <div id="content" class="fiction">
        <div class="clearfix list"><!--  list start -->
            <table>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（会员观看）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（15积分）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（15积分）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（15积分）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（15积分）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（15积分）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（15积分）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（15积分）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（15积分）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫ID噢UI阿萨德公一奥都告诉导购</span>
                        <em>（15积分）</em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都小说名扫哦啊啥都奥搜都</span>
                    </td>
                </tr>
            </table>
        </div><!-- end list -->

        <!-- 加载更多 -->
        <div class="load-more">加载中...</div>

    </div>



</main>

{template "content","foot_t"}
<script>
    $(function(){
        var isScroll = true; //是否可以滚动
        var loadMore = $(".load-more");

        $(window).scroll(function(e){
            var scrollTop = $(window).scrollTop();
            var dh = $(document).outerHeight();
            var wh = $(window).height();

            if(dh - wh - scrollTop <= 120 && isScroll){
                isScroll = false;
                loadData();
            }else if(dh - wh - scrollTop > 230 && !isScroll){
                isScroll = true;
                loadMore.text('加载中...');
            }

        })

        //ajax加载数据
        function loadData(){
            console.log('-----ajax 请求数据----')


            //ajax请教完成时调用
            //loadMore.text('加载完成');


            //模拟效果, 后台开发时请删除
            setTimeout(function(){
                loadMore.text('加载完成');
            }, 2000)


        }
    })
</script>
{template "content","foot_f"}
