{template 'member', 'header_t'}
{template 'member', 'header_f'}
<!-- main -->
<main class="w1200 user-center" id="main">
    <div class="u-left">
        <div class="u-title">账号管理</div>
        <ul>
            <li>
                <a <?php  if(isset($_GET['c']) && $_GET['c']=='index' && empty($_GET['a'])){ ?>class="active"<?php } ?> href="/index.php?m=member&c=index" >账号信息</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='account_manage_password'){ ?>class="active"<?php } ?>  href="/index.php?m=member&c=index&a=account_manage_password&t=1">修改密码</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && ($_GET['a']=='pay' || $_GET['a']=='pay_recharge')){ ?>class="active"<?php } ?> href="/index.php?m=pay&c=deposit&a=pay">在线充值</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='init'){ ?>class="active"<?php } ?> href="/index.php?m=pay&c=deposit&a=init">支付记录</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='change_credit'){ ?>class="active"<?php } ?> href="/index.php?m=member&c=index&a=change_credit">积分兑换</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='account_manage_upgrade'){ ?>class="active"<?php } ?> href="/index.php?m=member&c=index&a=account_manage_upgrade&t=1">会员自助升级</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='promote'){ ?>class="active"<?php } ?> href="/index.php?m=member&c=index&a=promote">代理推广</a>
                <span class="icon">积分获取</span>
            </li>
        </ul>
    </div>
    <div class="u-box">
        <div class="r1">
            <div class="u-r-title">
                个人信息
            </div>
            <div class="lable show">
                {if $memberinfo['nickname']} {$memberinfo['nickname']} {else} {$memberinfo['username']}{/if} {if $memberinfo['email']}（{$memberinfo['email']}）{/if}
            </div>
            <div class="lable show">
                {L('member_group')}：{$memberinfo['groupname']}，
                {L('account_remain')}：<font style=" font-size:22px;font-family:Georgia,Arial; font-weight:700">{$memberinfo[amount]}</font> {L('unit_yuan')}，
                {L('point')}：<font style=" font-size:12px;font-family:Georgia,Arial; font-weight:700">{$memberinfo[point]}</font> {L('unit_point')}{if $memberinfo['vip']}，vip{L('overduedate')}：<font style="color:#F00; font-size:12px;font-family:Georgia,Arial; font-weight:700">{format::date($memberinfo['overduedate'],1)}</font>{/if}
            </div>

            {if $groupid}
            <br>
            <div class="u-r-title">
                会员自助升级
            </div>


            <form method="post" action="" id="myform" name="myform">
                <input name="groupid" value="{$groupid}" type="hidden" />
                <table width="100%" cellspacing="0"  class="table-list" style="margin-top: 5px;">
                    <thead>
                    <tr>
                        <th width="50">{L('member_group')}</th>
                        <th width="100">{L('upgrade_price')}</th>
                        <th width="100">{L('upgrade_date')}</th>
                        <th width="300">{L('cost')}</th>
                        <th width="90">{L('operation')}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td align="center">{$grouplist[$groupid]['name']}</td>
                        <td align="center">
                            <input style="-webkit-appearance: radio;" type="radio" name='upgrade_type' value="0
" checked>{$grouplist[$groupid]['price_y']}/{L('year')}<br /><input style="-webkit-appearance: radio;" type="radio" name='upgrade_type' value="1
">{$grouplist[$groupid]['price_m']}/{L('month')}<br /><input style="-webkit-appearance: radio;" type="radio" name='upgrade_type' value="2
">{$grouplist[$groupid]['price_d']}/{L('day')}</td>
                        <td align="center"><input type="text" name="upgrade_date" id="upgrade_date" class="input-text" size="4"><font color="red" id="unit">{L('year')}</font></td>
                        <td align="center"><span id="cost">0</span> {L('unit_yuan')}<span id="pay" style="display:none">，<a href="index.php?m=pay&c=deposit&a=pay"><font color="red" id="unit">点击充值</font></a></span></td>
                        <td align="center"><input name="dosubmit" type="submit" id="dosubmit" value="{L('buy')}"
    style="width: 55px;
    height: 30px;
    background: linear-gradient(180deg,rgba(247,212,104,1) 0%,rgba(253,166,131,1) 100%);
    border-radius: 10px;
    font-size: 14px;
    color: rgba(255,255,255,1);
    margin-top: 30px;
    cursor: pointer;"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
            {else}

            <br>
            <div class="u-r-title">
                会员自助升级
            </div>
            <table width="100%" cellspacing="0"  class="table-list" style="margin-top: 5px;">
                <thead>
                <tr>
                    <th width="70">{L('member_group')}</th>
                    <th width="100">{L('upgrade_price')}</th>
                    <th width="90">{L('operation')}</th>
                </tr>
                </thead>
                <tbody>
                {loop $grouplist $k $v}
                {if $v['point'] > $memberinfo['grouppoint']}
                <tr style="border-top: #ffffff solid 1px;">
                    <td align="center"><br>{$v['name']}</td>
                    <td align="center">
                        {$v['price_y']}/{L('year')}<br />{$v['price_m']}/{L('month')}<br />{$v['price_d']}/{L('day')}</td>
                    <td align="center"><br><a style="color: #ffffff;" href="index.php?m=member&c=index&a=account_manage_upgrade&groupid={$v['groupid']}">升级</a></td>
                </tr>
                {/if}
                {/loop}
                </tbody>
            </table>
            {/if}
        </div>
    </div>


</main>
{template 'member', 'footer_t'}
{if $groupid}
<script language="JavaScript">
    <!--
    $(document).ready(function() {
        $(":input[type='radio']").click(function() {
            var unitarr = new Array("{L('year')}","{L('month')}","{L('day')}");
            var key = parseInt($(this).val());
            $("#unit").html(unitarr[key]);
            $("#upgrade_date").val('');
            $("#cost").html('');
        });
        $("#upgrade_date").keyup(function() {
            var prices = Array();
            prices['0'] = {$grouplist[$groupid]['price_y']};
            prices['1'] = {$grouplist[$groupid]['price_m']};
            prices['2'] = {$grouplist[$groupid]['price_d']};
            $(this).val($(this).val().replace(/[^\d]/g,''));
            var unit = parseInt($("input[name=upgrade_type]:checked").val());
            var price = prices[unit];
            if({$memberinfo[amount]} < price*$(this).val()) {
                $("#cost").html('{L('not_sufficient_funds')}'+price*$(this).val());
                $("#pay").show();
            } else {
                $("#cost").html(price*$(this).val());
            }
        });
    });
    //-->
</script>
{/if}
{template 'member', 'footer_f'}