{template 'member', 'header_t'}
{template 'member', 'header_f'}
<!-- main -->
<main class="w1200 user-center" id="main">
    <div class="u-left">
        <div class="u-title">账号管理</div>
        <ul>
            <li>
                <a <?php  if(isset($_GET['c']) && $_GET['c']=='index' && empty($_GET['a'])){ ?>class="active"<?php } ?> href="/index.php?m=member&c=index" >账号信息</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='account_manage_password'){ ?>class="active"<?php } ?>  href="/index.php?m=member&c=index&a=account_manage_password&t=1">修改密码</a>
            </li>
            <li>
                <a href="#pay">充值升级</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='promote'){ ?>class="active"<?php } ?> href="/index.php?m=member&c=index&a=promote">代理推广</a>
                <span class="icon">积分获取</span>
            </li>
        </ul>
    </div>
    <div class="u-box">
        <div class="r1" id="pwd">
            <div class="u-r-title">
                修改密码
            </div>
            <form method="post" action="" id="myform" name="myform">
                <input name="info[email]" type="hidden" id="email" size="30" value="{$memberinfo['email']}" >
                <input name="dosubmit" type="hidden" id="dosubmit" value="{L('submit')}" >
            <div class="u-r-con pwd-box">
                <!-- 添加class  show 显示 -->
                <div class="lable show">
                    请输入正确的密码
                </div>
                <input type="password" name="info[password]" class="input" placeholder="请输入原密码">

                <div class="lable">
                    请输入正确的密码
                </div>
                <input type="password" name="info[newpassword]" class="input" placeholder="请输入新密码">

                <div class="lable">
                    请输入正确的密码
                </div>
                <input type="password" name="info[renewpassword]" class="input" placeholder="请再次输入新密码">
                <br />
                <button class="btn-sub">确定</button>
            </div>
            </form>
        </div>
    </div>


</main>
{template 'member', 'footer_t'}
{template 'member', 'footer_f'}