{template 'member', 'header_t'}
{template 'member', 'header_f'}
<!-- main -->
<main class="w1200 user-center" id="main">
    <div class="u-left">
        <div class="u-title">账号管理</div>
        <ul>
            <li>
                <a <?php  if(isset($_GET['c']) && $_GET['c']=='index' && empty($_GET['a'])){ ?>class="active"<?php } ?> href="/index.php?m=member&c=index" >账号信息</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='account_manage_password'){ ?>class="active"<?php } ?>  href="/index.php?m=member&c=index&a=account_manage_password&t=1">修改密码</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && ($_GET['a']=='pay' || $_GET['a']=='pay_recharge')){ ?>class="active"<?php } ?> href="/index.php?m=pay&c=deposit&a=pay">在线充值</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='init'){ ?>class="active"<?php } ?> href="/index.php?m=pay&c=deposit&a=init">支付记录</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='change_credit'){ ?>class="active"<?php } ?> href="/index.php?m=member&c=index&a=change_credit">积分兑换</a>
            </li>
            <li>
                <a <?php  if(isset($_GET['a']) && $_GET['a']=='promote'){ ?>class="active"<?php } ?> href="/index.php?m=member&c=index&a=promote">代理推广</a>
                <span class="icon">积分获取</span>
            </li>
        </ul>
    </div>
    <div class="u-box">
        <div class="r1 num-box" id="number">
            <div class="u-r-title">
                账号名称
            </div>
            <div class="u-r-con">
                {if $memberinfo['nickname']} {$memberinfo['nickname']} {else} {$memberinfo['username']}{/if}
                <a class='btn-out' href="{APP_PATH}index.php?m=member&c=index&a=logout">注销账号</a>
            </div>
            <div class="u-r-title">
                账号邮箱
            </div>
            <div class="u-r-con">
                {if $memberinfo['email']}（{$memberinfo['email']}）{/if}
            </div>
            <div class="u-r-title">
                积分数量
            </div>
            <div class="u-r-con">
                {$memberinfo[point]}
            </div>
        </div>
    </div>


</main>
{template 'member', 'footer_t'}
{template 'member', 'footer_f'}