<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>黄逗 - {L('member','','member').L('manage_center')}</title>
    <link rel="stylesheet" href="{WEB_PATH}statics/hd/css/base.css">
    <link rel="stylesheet" href="{WEB_PATH}statics/hd/css/style.css">
    <link rel="shortcut icon" href="{WEB_PATH}statics/hd/images/favicon.ico">
</head>
<body class="login">

<div class="login-left">
    <img src="{WEB_PATH}statics/hd/images/icon/icon-logo-big.png" class="icon-login">
    <form method="post" action=""  id="myform" name="myform">
        <input type="hidden" name="forward" id="forward" value="{$forward}">
        <input type="hidden" name="dosubmit" value="登录" />
    <div class="r1">
        <div class="row">
            <!-- 添加class show 显示 -->
            <div class="label show">请输入正确的用户名</div>
            <input type="text" name="username" maxlength="50" class="in" placeholder="请输入用户"/>
        </div>

        <div class="row">
            <div class="label">请输入正确的密码</div>
            <input type="password" name="password" maxlength="50" class="in" placeholder="请输入密码"/>
        </div>

        <div class="row">
            <div class="label">请输入正确的验证码</div>
            <input type="text" name="code" maxlength="9" class="in" placeholder="请输入验证码"/>
            <a href="javascript:;" class="get-yzm yzm-img">
                {form::checkcode('code_img', '5', '14', 120, 26)}
            </a>
        </div>

        <div class="r2 tr">
            <a href="#" class="btn-get-pwd">忘记密码？</a>
        </div>

        <div class="r3">
            <button class="btn-login">登陆</button>
            <a href="/index.php?m=member&c=index&a=register"><button class="btn-reg">注册</button></a>
        </div>
    </div>
    </form>

    <a href="#" class="u-login">游客登陆</a>

</div>

<div class="main">
    <div class="tr top">
        <p>请输入用户名及密码</p>
        <p>完成登陆</p>
    </div>

    <div class="bottom">
        <p>欢迎来到</p>
        <div>
            <span>黄逗</span>社区
        </div>
    </div>
</div>


<!-- 注册成功！ -->
<!-- 添加 class  show 显示 -->
<div class="login-success ">
    <img src="{WEB_PATH}statics/hd/images/icon/icon-logo-big.png" class="icon-logo" alt="">
    <p>注册成功！</p>
</div>




<script src="{WEB_PATH}statics/hd/js/jquery.min.js"></script>
<script src="{WEB_PATH}statics/hd/js/index.js"></script>
<script>
    $(function(){

    })
</script>
</body>
</html>
